config:
  credentials: []
  project_repos:
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
    github.com/IdentityPython/SATOSA:
      branch: master
      repo: https://github.com/IdentityPython/SATOSA.git
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      github.com/IdentityPython/SATOSA git:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-brown-dragonfly.sh
        container: qc.acc_pasty-tan-devil
  QC.Doc:
    repos:
      github.com/IdentityPython/SATOSA find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.sleazy-tan-dugong.sh
        container: qc.doc_cheeky-purple-hippopotamus
      github.com/IdentityPython/SATOSA git:
        commands:
        - /usr/bin/env sh .sqa/script.queasy-goldenrod-bongo.sh
        container: qc.doc_nippy-aqua-owl
      github.com/IdentityPython/SATOSA markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.stealthy-puce-bee.sh
        container: qc.doc_clammy-vermilion-gibbon
      github.com/IdentityPython/SATOSA restructuredtext-lint:
        commands:
        - /usr/bin/env sh .sqa/script.hasty-viridian-pinscher.sh
        container: qc.doc_freaky-cardinal-anteater
  QC.Lic:
    repos:
      github.com/IdentityPython/SATOSA licensee:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-brass-peccary.sh
        container: qc.lic_sleazy-red-penguin
  QC.Sec:
    repos:
      github.com/IdentityPython/SATOSA bandit:
        commands:
        - /usr/bin/env sh .sqa/script.lovely-purple-ray.sh
        container: qc.sec_cozy-seashell-woodlouse
  QC.Sty:
    repos:
      github.com/IdentityPython/SATOSA flake8:
        commands:
        - /usr/bin/env sh .sqa/script.smelly-heliotrope-tarantula.sh
        container: qc.sty_slimy-copper-eleuth
      github.com/IdentityPython/SATOSA hadolint:
        commands:
        - /usr/bin/env sh .sqa/script.thirsty-bistre-bat.sh
        container: qc.sty_cloudy-copper-grouse
  QC.Uni:
    repos:
      github.com/IdentityPython/SATOSA pytest:
        commands:
        - /usr/bin/env sh .sqa/script.homey-brass-rabbit.sh
        container: qc.uni_lumpy-chocolate-dormouse
  QC.Ver:
    repos:
      github.com/IdentityPython/SATOSA get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.frumpy-apricot-birman.sh
        container: qc.ver_gloppy-bronze-okapi
timeout: 5400
